### Importing Libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer, StandardScaler
import tensorflow as tf
import keras
from tensorflow.keras.optimizers import Adam

### Reading csv file

In [2]:
dataset = pd.read_csv('life_expectancy.csv')
dataset.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,Afghanistan,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

### Inspecting Data

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Adult Mortality                  2938 non-null   float64
 4   infant deaths                    2938 non-null   int64
 5   Alcohol                          2938 non-null   float64
 6   percentage expenditure           2938 non-null   float64
 7   Hepatitis B                      2938 non-null   float64
 8   Measles                          2938 non-null   int64
 9    BMI                             2938 non-null   float64
 10  under-five deaths                2938 non-null   int64
 11  Polio                            2938 non-null   float64
 12  Total expenditure                2938 non-null   float64
 13  Diphtheria                       2938 non-null   float64
 14   HIV/AIDS                        2938 non-null   float64
 15  GDP                              2938 non-null   float64
 16  Population                       2938 non-null   float64
 17   thinness  1-19 years            2938 non-null   float64
 18   thinness 5-9 years              2938 non-null   float64
 19  Income composition of resources  2938 non-null   float64
 20  Schooling                        2938 non-null   float64
 21  Life expectancy                  2938 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [4]:
dataset.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2.938000e+03,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000
mean,2007.518720,164.725664,30.303948,4.546875,738.251295,83.022124,2419.592240,38.381178,42.035739,82.617767,5.924098,82.393125,1.742103,6611.523863,1.023085e+07,4.821886,4.852144,0.630362,12.009837,69.234717
std,4.613841,124.086215,117.926501,3.921946,1987.914858,22.996984,11467.272489,19.935375,160.445548,23.367166,2.400770,23.655562,5.077785,13296.603449,5.402242e+07,4.397621,4.485854,0.205140,3.265139,9.509115
min,2000.000000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000,36.300000
25%,2004.000000,74.000000,0.000000,1.092500,4.685343,82.000000,0.000000,19.400000,0.000000,78.000000,4.370000,78.000000,0.100000,580.486996,4.189172e+05,1.600000,1.600000,0.504250,10.300000,63.200000
50%,2008.000000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.755000,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000,72.100000
75%,2012.000000,227.000000,22.000000,7.390000,441.534144,96.000000,360.250000,56.100000,28.000000,97.000000,7.330000,97.000000,0.800000,4779.405190,4.584371e+06,7.100000,7.200000,0.772000,14.100000,75.600000
max,2015.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000,89.000000

### Dropping Countries column

In [5]:
dataset = dataset.drop('Country', axis = 1)
dataset.head()

,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

### Labels and Features selection

In [6]:
labels = dataset[['Life expectancy']]
labels.head()

   Life expectancy
0             65.0
1             59.9
2             59.9
3             59.5
4             59.2

In [7]:
features = dataset.iloc[:,:-1]
features.head()

,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

### Data Preprocessing

In [8]:
features = pd.get_dummies(features)
features.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developed,Status_Developing
0,2015,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,0,1
1,2014,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,0,1
2,2013,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,0,1
3,2012,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,0,1
4,2011,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,0,1

### Data split into training and testing sets

In [9]:
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.2, random_state = 42)

### Standardize Numerical features

In [10]:
numerical_features = features.select_dtypes(include = ['float64', 'int64'])
numerical_columns = numerical_features.columns

In [11]:
ct = ColumnTransformer([('standardize', StandardScaler(), numerical_columns)], remainder = 'passthrough')

In [12]:
features_train = ct.fit_transform(features_train)
features_test = ct.transform(features_test)

### Building the model

In [13]:
my_model = tf.keras.models.Sequential()

In [14]:
input = tf.keras.layers.InputLayer(input_shape = (dataset.shape[1], ))
my_model.add(input)

In [15]:
hidden = tf.keras.layers.Dense(8, activation = 'relu')
my_model.add(hidden)

In [16]:
output = tf.keras.layers.Dense(1)
my_model.add(output)

In [17]:
my_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 176

 dense_1 (Dense)             (None, 1)                 9

=================================================================
Total params: 185
Trainable params: 185
Non-trainable params: 0
_________________________________________________________________

### Initializing the optimizer and compiling the model

In [18]:
opt = Adam(learning_rate = 0.01)
my_model.compile(loss = 'mse', metrics = ['mae'], optimizer = opt)

In [19]:
my_model.fit(features_train, labels_train, epochs = 40, batch_size = 1, verbose = 1)

Epoch 1/40
2350/2350 [==============================] - 17s 6ms/step - loss: 300.3221 - mae: 9.3151:
Epoch 2/40
2350/2350 [==============================] - 15s 6ms/step - loss: 19.1595 - mae: 3.2397
Epoch 3/40
2350/2350 [==============================] - 18s 8ms/step - loss: 18.4441 - mae: 3.1807 0s - loss: 18.5290 -
Epoch 4/40
2350/2350 [==============================] - 17s 7ms/step - loss: 17.0248 - mae: 3.0618 0s - loss: 16.9823 - mae: 3.
Epoch 5/40
2350/2350 [==============================] - 15s 6ms/step - loss: 17.3632 - mae: 3.0916
Epoch 6/40
2350/2350 [==============================] - 11s 5ms/step - loss: 15.8770 - mae: 2.9835
Epoch 7/40
2350/2350 [==============================] - 14s 6ms/step - loss: 17.3306 - mae: 2.9998
Epoch 8/40
2350/2350 [==============================] - 22s 9ms/step - loss: 14.5678 - mae: 2.8533
Epoch 9/40
2350/2350 [==============================] - 16s 7ms/step - loss: 16.4438 - mae: 2.8773
Epoch 10/40
2350/2350 [==============================] - 16s 7ms/step - loss: 14.3689 - mae: 2.8392
Epoch 11/40
2350/2350 [==============================] - 18s 8ms/step - loss: 15.0044 - mae: 2.8669
Epoch 12/40
2350/2350 [==============================] - 16s 7ms/step - loss: 14.8741 - mae: 2.8493
Epoch 13/40
2350/2350 [==============================] - 11s 5ms/step - loss: 15.3417 - mae: 2.8627
Epoch 14/40
2350/2350 [==============================] - 12s 5ms/step - loss: 13.9259 - mae: 2.7972
Epoch 15/40
2350/2350 [==============================] - 12s 5ms/step - loss: 13.9783 - mae: 2.7908 0s - loss: 13.9457
Epoch 16/40
2350/2350 [==============================] - 16s 7ms/step - loss: 15.3687 - mae: 2.8221 0s - loss: 15.4506 - mae
Epoch 17/40
2350/2350 [==============================] - 14s 6ms/step - loss: 12.6961 - mae: 2.6800
Epoch 18/40
2350/2350 [==============================] - 15s 7ms/step - loss: 13.8234 - mae: 2.7483
Epoch 19/40
2350/2350 [==============================] - 13s 5ms/step - loss: 13.4471 - mae: 2.7224
Epoch 20/40
2350/2350 [==============================] - 13s 6ms/step - loss: 13.1322 - mae: 2.7119
Epoch 21/40
2350/2350 [==============================] - 15s 6ms/step - loss: 12.7656 - mae: 2.6895
Epoch 22/40
2350/2350 [==============================] - 14s 6ms/step - loss: 13.5454 - mae: 2.7402
Epoch 23/40
2350/2350 [==============================] - 14s 6ms/step - loss: 12.7332 - mae: 2.6810
Epoch 24/40
2350/2350 [==============================] - 16s 7ms/step - loss: 13.0583 - mae: 2.6921
Epoch 25/40
2350/2350 [==============================] - 13s 5ms/step - loss: 12.7129 - mae: 2.6673
Epoch 26/40
2350/2350 [==============================] - 11s 5ms/step - loss: 13.0228 - mae: 2.7363
Epoch 27/40
2350/2350 [==============================] - 14s 6ms/step - loss: 12.4933 - mae: 2.6580
Epoch 28/40
2350/2350 [==============================] - 12s 5ms/step - loss: 12.4778 - mae: 2.6455
Epoch 29/40
2350/2350 [==============================] - 11s 5ms/step - loss: 12.9679 - mae: 2.6918
Epoch 30/40
2350/2350 [==============================] - 14s 6ms/step - loss: 12.3035 - mae: 2.6403 0s
Epoch 31/40
2350/2350 [==============================] - 14s 6ms/step - loss: 12.2236 - mae: 2.6340
Epoch 32/40
2350/2350 [==============================] - 16s 7ms/step - loss: 12.2007 - mae: 2.6208
Epoch 33/40
2350/2350 [==============================] - 16s 7ms/step - loss: 12.2794 - mae: 2.6346 0s
Epoch 34/40
2350/2350 [==============================] - 12s 5ms/step - loss: 11.8876 - mae: 2.5653
Epoch 35/40
2350/2350 [==============================] - 14s 6ms/step - loss: 12.3023 - mae: 2.6372
Epoch 36/40
2350/2350 [==============================] - 14s 6ms/step - loss: 11.9813 - mae: 2.6004
Epoch 37/40
2350/2350 [==============================] - 16s 7ms/step - loss: 12.2579 - mae: 2.6094
Epoch 38/40
2350/2350 [==============================] - 13s 6ms/step - loss: 12.1724 - mae: 2.6098 0s - los
Epoch 39/40
2350/2350 [==============================] - 14s 6ms/step - loss: 12.0813 - mae: 2.6260
Epoch 40/40
2350/2350 [==============================] - 16s 7ms/step - loss: 12.2892 - mae: 2.6301 0s - loss: 12.38

### Fit and evaluate the model

In [20]:
res_mse, res_mae = my_model.evaluate(features_test, labels_test, verbose = 0)

In [21]:
res_mse

10.530829429626465

In [22]:
res_mae

2.4824066162109375